.formProps {
  margin-bottom: 30px;
}

.formProps__textProps {
  margin-top: 5%;
}

@media (max-width: 600px) {
  .formProps__textProps {
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .formProps__textProps {
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  .formProps__textProps {
    font-size: 30px;
  }
}

.formProps__textPropsSmaller {
  margin-top: 5%;
  font-size: 20px;
}

@media (max-width: 700px) {
  .formProps__textPropsSmaller {
    font-size: 10px;
  }
}

.formProps__input {
  width: 40%;
  border-radius: 5px;
}

@media (max-width: 450px) {
  .formProps__input {
    width: 100px;
    font-size: 10px;
  }
}

.formProps__resultButton {
  transition: all 0.3s ease-in-out;
}

.formProps__resultButton:hover {
  cursor: pointer;
}