html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', cursive, sans-serif;
  background-color: #4b4d66;
  text-align: center;
}

.centerBoxProperties {
  color: rgb(24, 24, 24);
  box-shadow: 5px 5px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 17px;
  align-self: center;
}

@media (min-width: 770px) {
  .centerBoxProperties {
    width: 750px;
  }
}

.flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}